.leaderboard
  .container_leaderboard
    %h1
      .container
        =@user_league.name + "'s"
        Leaderboard
    %table
      %tr
        %th
          Rank
        %th
          Username
        %th
          Current Score
      -if @user.is_on_team? == true
        -@all_users.sort_by{|u| u.score }.reverse[0...10].each do |u|
          %tr
            %td
              =@rank_counter+=1
            %td
              =link_to "#{u.user_name}", profile_path(u.id)
            %td
              -binding.pry
              =u.score
            %br
